<div class="flex flex-col mt-6">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div
        class="overflow-hidden border-b border-gray-200 rounded-md shadow-md"
      >
        <table id="myTable" class="min-w-full overflow-x-scroll divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr class="t_head">
              <th
                scope="col"
                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
              >
                Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
              >
                Age
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
              >
                Skills
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
              >
                Location
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {% for neighbour in neighbours %}
            <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img
                      class="w-10 h-10 rounded-full"
                      src="{{ neighbour.picture }}"
                      alt=""
                    />
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{ neighbour.user.first_name}}
                      {{neighbour.user.last_name}}
                    </div>
                    <div class="text-sm text-gray-500">
                      {{ neighbour.user.email }}
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ neighbour.get_age }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full"
                >
                  
                </span>
              </td>
              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                {{ neighbour.location }}
              </td>
              <td
                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
              >
                <a
                  href="#"
                  class="text-indigo-600 hover:text-indigo-900"
                  onClick="ViewModal({{ neighbour.id }})"
                  >View</a
                >
              </td>
              <td
                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
              >
                <a 
                  href="#" 
                  class="text-indigo-600 hover:text-indigo-900"
                  onClick="ConnectModal({{ neighbour.id }}, {{ neighbour.user.id }})"
                  >Connect</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div
        class="modal fade"
        id="viewModal"
        tabindex="-1"
        aria-labelledby="viewModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="modal_body_content">
                <div style="">
                  <img src="" alt="" />
                </div>
                <div class="details_row">
                  <div>
                    <h6>First name:</h6>
                    <p id="fname">hy</p>
                  </div>
                  <div>
                    <h6>Last name:</h6>
                    <p id="lname">man</p>
                  </div>
                </div>
                <div class="details_row">
                  <div>
                    <h6>Age:</h6>
                    <p id="age"></p>
                  </div>
                  <div>
                    <h6>Location:</h6>
                    <p id="location"></p>
                  </div>
                </div>
                <div class="details_row">
                  <div>
                    <h6>Email:</h6>
                    <p id="email"></p>
                  </div>
                  <div>
                    <h6>Skills:</h6>
                    <p id="skills"></p>
                  </div>
                </div>
                <div class="details_row">
                  <div>
                    <h6>About:</h6>
                    <p id="about"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="connectModal"
        tabindex="-1"
        aria-labelledby="connectModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Connect</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form method="POST" id="create_connection_form">
                {% csrf_token %}
                <div>
                  <label for="skills_select" class="form-label">Skill to be shared</label>
                  <select class="form-select" name="skill" id="skills_select" aria-label="Default select example">
                    <option selected>Select skill</option>
                  </select>
                </div>
                <div style="margin-top: 20px;">
                  <label for="location_select" class="form-label">Pick Location</label>
                  <select class="form-select" name="location" id="location_select" aria-label="Default select example">
                    <option selected>Select a location</option>
                    <option>Sekondi</option>
                    <option>Takoradi</option>
                    <option>Market Circle</option>
                  </select>
                </div>
                <div style="margin-top: 20px;">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" name="date" id="date" class="form-control"/>
                </div>
                <div style="margin-top: 20px;">
                  <label for="phone" class="form-label">Contact</label>
                  <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number"/>
                </div>
                <input type="text" value="{{user.id}}" name="user_id" hidden/>
                <input type="text" id="receiver_id" value="{{user.id}}" name="receiver_id" hidden/>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button form="create_connection_form" type="submit" class="btn btn-primary">
                Connect
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
