<div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-2 lg:grid-cols-4">
  <!-- Users chart card --><a
    href="#"
    id="Total-Users"
    class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg"
  >
    <div class="flex items-start">
      <div class="flex flex-col flex-shrink-0 space-y-2">
        <span class="text-gray-400">Connections</span>
        <span class="text-lg font-semibold">{{ connections }}</span>
      </div>
    </div>
  </a>

  <!-- Sessions chart card --><a
    href="#"
    id="Total-Users"
    class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg"
  >
    <div class="flex items-start">
      <div class="flex flex-col flex-shrink-0 space-y-2">
        <span class="text-gray-400">Skills Shared</span>
        <span class="text-lg font-semibold">{{ skills_shared }} </span>
      </div>
      <div class="relative min-w-0 ml-auto h-14">
        <canvas id="sessionsChart"></canvas>
      </div>
    </div>
  </a>

  <!-- Vists chart card --><a
    href="#"
    id="Total-Users"
    class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg"
  >
    <div class="flex items-start">
      <div class="flex flex-col flex-shrink-0 space-y-2">
        <span class="text-gray-400">Skills Acquired</span>
        <span class="text-lg font-semibold">{{ connections }}</span>
      </div>
      <div class="relative min-w-0 ml-auto h-14">
        <canvas id="vistsChart"></canvas>
      </div>
    </div>
  </a>

  <!-- Articles chart card --><a
    href="{% url 'find_buddy' %}"
    id="Total-Users"
    class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg"
  >
    <div class="flex items-start">
      <div class="flex flex-col flex-shrink-0 space-y-2">
        <span class="text-gray-400">Friends near you</span>
        <span class="text-lg font-semibold">{{ friends_near_your }}</span>
      </div>
      <div class="relative min-w-0 ml-auto h-14">
        <canvas id="articlesChart"></canvas>
      </div>
    </div>
  </a>
</div>