<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="register.css">
</head>
<body>
    <main>
        <!-- hero section -->
        <section class="hero">
          <h1 class="hero__title" id="hero__desc-pass-title">Meet, Connect and Share</h1>
          <p class="hero__desc" id="hero__desc-pass">Yes, with <b>barter-buddy</b>
          you can have a personal buddy to learn together.</p>
        </section>
        <!-- hero section ends -->
        <!-- sign-up section -->
        <section class="sign-up">
          <form class="sign-up__form" action="" method="get" novalidate>
            <div class="form__input">
              <input class="" type="Password" name="Password" id="Password" placeholder="New Password" value="" required>
              <span class="warning-icon">!</span>
              <p class="warning">Password cannot be empty</p>
            </div>
            <div class="form__input">
              <input class="" type="Password" name="Password" id="Password" placeholder="comfirm Password" value="" required>
              <span class="warning-icon">!</span>
              <p class="warning">Password cannot be empty</p>
            </div>
      <a href="sign-in.html" id="reset-pass">
           sign in
          </a>
        
          </form>
          <!-- form ends -->
        </section>
        <!-- sign-up ends -->
      </main>
      
      <footer>
      </footer>
      <script src="register.js"></script>
</body>
</html>