{% extends './base.html' %} {% load static %} {% block title %}
<title>Find buddies page</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/user_pages/tailwind.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/user_pages/dashboard.css' %}"
/>
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js"
  defer
></script>
{% endblock %} {% block content %}
<div class="antialiased text-gray-900 bg-white">
  <div
    class="flex h-screen overflow-y-hidden bg-white"
    x-data="setup()"
    x-init="$refs.loading.classList.add('hidden')"
  >
    <!-- Loading screen -->
    <div
      x-ref="loading"
      class="fixed inset-0 z-[200] flex items-center justify-center text-white bg-black bg-opacity-50"
      style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
    >
      Loading.....
    </div>
    <!-- Sidebar backdrop -->
    <div
      x-show.in.out.opacity="isSidebarOpen"
      class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
      style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"
    ></div>
    <!-- Sidebar -->

    {% include "./components/common/sidebar.html" %}

    <div class="flex flex-col flex-1 h-full overflow-hidden">
      {% include "./components/common/header.html" %}
      <!-- Main content -->
      <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll">
        <!-- Main content header -->
        <div
          id="dasbord-main"
          class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row"
        >
          <h1 class="text-2xl font-semibold whitespace-nowrap">Find buddies</h1>
        </div>
      
        {% include "./components/find_buddies/user_tables.html" %}

      </main>
    </div>
  </div>
</div>
<script>
  const setup = () => {
    return {
      loading: true,
      isSidebarOpen: false,
      toggleSidbarMenu() {
        this.isSidebarOpen = !this.isSidebarOpen;
      },
      isSettingsPanelOpen: false,
      isSearchBoxOpen: false,
    };
  };
</script>

{% endblock %}
