{% extends './base.html' %} {% load static %} {% block title %}
<title>Create a new password</title>
{% endblock %} {% block content %}
<main>
  <!-- hero section -->
  <section class="hero">
    <h1 class="hero__title">Meet, Connect and Share</h1>
    <p class="hero__desc">
      Yes, with <b>barter-buddy</b> you can have a personal buddy to learn
      together.
    </p>
  </section>
  <!-- hero section ends -->
  <!-- sign-up section -->
  <section class="sign-up">
    <form class="sign-up__form" method="POST">
      {% csrf_token %}
      <div class="form__input">
        <input
          class=""
          type="password"
          name="password"
          id="password"
          placeholder="New Password"
          value=""
          required
        />
        <span class="warning-icon">!</span>
        <p class="warning">Password cannot be empty</p>
      </div>
      <div class="form__input">
        <input
          class=""
          type="password"
          name="c_password"
          id="c_password"
          placeholder="Confirm Password"
          value=""
          required
        />
        <span class="warning-icon">!</span>
        <p class="warning">Password cannot be empty</p>
      </div>
      <input class="submit-btn" type="submit" value="sign in" />
    </form>
    <!-- form ends -->
  </section>
  <!-- sign-up ends -->
</main>

<footer></footer>
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}
