<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> SIGN IN</title>
  </head>
  <body>
    <main class="main"> 
    <section class="upper">
        <h1>LEARN MORE BY WACTHING OTHER PEOPLE CODDING</h1> 
        <p>See how experienced developers code and get more insight from them.<br> Practice more to <br>learn more. Seeing how coding is done helps<br> you learn more</p>
    </section>
        <section class="form">
            <form class="sign-in__form" action="" method="get" novalidate>
              <div class="input">
        <input type="text" name="email" id="email" placeholder="Email" value="" required>
        <p class="warning">Looks like this is not an email</p>
       <input class="" type="Password" name="Password" id="Password" placeholder="Password" value="" required><p class="forget"> Forget Password </p> 
       <p class="warning">Password cannot be empty</p>
             <input class="" type="Password" name="Password" id="Password" placeholder="Confirm Password" value="" required>
            <p class="warning">Password cannot be empty</p>
                       <button>LOG IN</button>
                       
    <p class="create"> Don't have account? <span class="sign"><a href="sign-up.html">Sign up instead</a></span></p>
             
        </div>
        </section>

    </main>
    </form>
  </body>  
</html>''