<!DOCTYPE html>
<html>
    <head>
        <title> sign up</title>
        <link rel="stylesheet" type="text/css" href="signup.css">
    </head>
    <body>
        <main class="main">
        <section class="upper">
        <h1>LEARN MORE BY WACTHING OTHER PEOPLE CODDING</h1>
        <p>See how experienced developers code and get more insight from them.<br> Practice more to<br> learn more. Seeing how coding is done helps<br> you to learn more</p>
        </section>
        <section class="form">
        <form class="sign-up-form" action="" method="get" validate>
        <div class="input">
        <input type="text" name="first name" value="" placeholder="FIRST NAME"><br><br>
            <p class="warning">First name cannot be empty</p>
        <input type="text" name="last name" value="" placeholder="LAST NAME"><br><br>
        <p class="warning"> Last name cannot be empty</p>.
        <input type="email" name="username" value="" placeholder="Username@gmail.com">
        <p class="warning"> username cannot be empty</p>
        <p class="describe"> You can use letters, numbers & periods</p>
        <input type="password" name="password" value="" placeholder="Password">
        <p class="warning">password cannot be empty</p><br><br>
        <input type="password" name="password" value="" placeholder="Confirm Password">
        <p class="warning">password cannot be empty</p><br><br>
        <p class="apply"> Use 8 or more characters with a mix of letters, numbers & symbols</p>
        <button> SIGN UP</button>         
        <p class="create"> Don't have account? <span class="sign"><a href="sign-in.html">Sign in instead</a></span></p>
                 
            </div>
        </div>

        </section>
        </main>
    </body>
</html>